<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tambah Kategori</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h2>Tambah Kategori</h2>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Simpan</button>
    </form>

    <br>
    <a href="{% url 'kategori_list' %}">Kembali ke Daftar Kategori</a>
</body>
</html>
